<!DOCTYPE html>
<head>

</head>

<body>
    <header>
        {{ todolist.name }}
    </header>
    <main>

<div>

<h1>Tasks</h1>




<table>
    <tr>
        <th>Task</th>
        <th>Due Date</th>
    </tr>
    <tbody>
        {% for todoitem in todolist.items.all %}
        <tr>
            <td>{{ todoitem.task }}</td>
            <td>{{ todoitem.due_date }}</td>
        </tr>

        {% endfor %}
    </tbody>

</table>



{% for form in list %}
<td><a href="{% url 'todo_list_update' list.objects.id %}">Edit</a></td>
{% endfor %}
</div>

    </main>

</body>
</html>
