<!DOCTYPE html>
<head>

</head>

<body>
    <header></header>
    <main>

<div>

<h1>My Lists</h1>

<a href="{% url 'todo_list_create' %}">Create a new List</a>
{% for items in list %}
<p><a href="{% url 'todo_list_update' todolist.items.id %}">Edit</a></p>
{% endfor %}
<table>


    <th>List</th>
    <th>Created on</th>
    </tr>
    <tbody>
    <tr>
        {% for items in lists %}
        <td><a href = "{% url 'todo_list_detail' items.id %}">{{ items.name }}</a></td>
        <td>{{ items.created_on }}</td>
        {% endfor %}
    </tr>
    </tbody>
</table>

</div>

    </main>

</body>
</html>
